* {
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

button {
    background-color: #3882f6;   
    padding: 8px 36px;
    border: none;
    border-radius: 8px;
    color: white;
}

.header {
    background-color: #1F2937;
    margin: 0;
    padding: 0 200px;
    align-items: center;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-content {
    display: flex;
    padding: 48px 0;
    gap: 24px;
}

.header-info {
    flex: 1 1 50%;
}

.image {
    flex: 1 1 50%;
    width: 50%;
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-main {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 16px;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

.info-header {
    text-align: center;
    padding: 32px;
    font-size: 36px;
    font-weight: 900;
}

.card-container {
    display: flex;
    justify-content: center;
    padding: 32px;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}

.card-tile {
    flex: none;
    height: 200px;
    width: 200px;
    border: 3px solid #3882f6;
    border-radius: 16px;
    margin-bottom: 16px;
}